workflows/orchestrator/cg-orchestrator-main.json
{
  "updatedAt": "2026-04-10T16:30:37.534Z",
  "createdAt": "2026-04-07T18:41:18.859Z",
  "id": "kSXz3MZM2SuJ31pf",
  "name": "cg-orchestrator-main",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "list",
        "tableName": "jobs",
        "viewName": "to-process",
        "options": {}
      },
      "id": "get-jobs",
      "name": "Get Jobs To Process",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "jobs",
        "rowId": "={{ $json._id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "status",
              "columnValue": "generating"
            },
            {
              "columnName": "updated_at",
              "columnValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "mark-generating",
      "name": "Mark Generating",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "AJTS9utBRhhRDC7o"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "job_id": "={{ $('Get Jobs To Process').first().json.job_id }}",
            "raw_text": "={{ $('Get Jobs To Process').first().json.raw_text }}",
            "channels": "={{ (v => v == null || v === '' ? '[\"linkedin\",\"facebook\",\"instagram\"]' : typeof v === 'string' ? v : JSON.stringify(v))($('Get Jobs To Process').first().json.channels) }}",
            "content_type": "={{ $('Get Jobs To Process').first().json.content_type }}",
            "revision_feedback": "={{ $('Get Jobs To Process').first().json.revision_feedback }}",
            "assets": "={{ $('Get Jobs To Process').first().json.assets }}",
            "slide_theme": "={{ $('Get Jobs To Process').first().json.slide_theme }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "raw_text",
              "displayName": "raw_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channels",
              "displayName": "channels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "revision_feedback",
              "displayName": "revision_feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "assets",
              "displayName": "assets",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "slide_theme",
              "displayName": "slide_theme",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "gen-content",
      "name": "Generate Content",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "jobs",
        "rowId": "={{ $('Get Jobs To Process').first().json._id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "generated_text",
              "columnValue": "={{ $json.generated_text }}"
            },
            {
              "columnName": "status",
              "columnValue": "awaiting_approval"
            },
            {
              "columnName": "updated_at",
              "columnValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "save-generated",
      "name": "Save Generated Text",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "mode": "id",
          "value": "1490792473440813199"
        },
        "content": "=🖼️ **{{ $json.channel }}** — Job `{{ $json.job_id }}`",
        "files": {
          "values": [
            {
              "inputFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "send-image",
      "name": "Send Image Preview",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1400,
        0
      ],
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      },
      "webhookId": "879211c4-8430-4913-954d-4384591b83ad"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "mode": "id",
          "value": "1490792473440813199"
        },
        "message": "=🖼️ **Job {{ $('Get Jobs To Process').first().json.job_id }}** — oceń post.\n\n✅ `ok` — zatwierdź\n✅ `ok 2026-04-20` lub `ok 2026-04-20 18:00` — zatwierdź z datą publikacji\n❌ `nie` — odrzuć\n✏️ Inna treść — wyślij jako poprawkę",
        "responseType": "freeText",
        "options": {}
      },
      "id": "discord-preview",
      "name": "Discord Preview",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1600,
        0
      ],
      "webhookId": "734e5b71-782a-455d-a7ad-1d545c8054f2",
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst raw = (item.data?.text || item.output || item.text || item.content || item.response || JSON.stringify(item)).toString().trim();\nconst lower = raw.toLowerCase();\n\nlet decision;\nlet publish_at = '';\n\nconst okMatch = lower.match(/^(ok|tak|yes)(\\s+(.+))?$/);\nif (okMatch) {\n  if (okMatch[3]) {\n    const datePart = okMatch[3].trim();\n    const m1 = datePart.match(/(\\d{4})-(\\d{2})-(\\d{2})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\n    const m2 = datePart.match(/(\\d{1,2})[.](\\d{1,2})[.](\\d{4})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\n    if (m1) {\n      publish_at = m1[1] + '-' + m1[2] + '-' + m1[3];\n      if (m1[4]) publish_at += ' ' + m1[4].padStart(2,'0') + ':' + (m1[5]||'00');\n      decision = 'approve';\n    } else if (m2) {\n      publish_at = m2[3] + '-' + m2[2].padStart(2,'0') + '-' + m2[1].padStart(2,'0');\n      if (m2[4]) publish_at += ' ' + m2[4].padStart(2,'0') + ':' + (m2[5]||'00');\n      decision = 'approve';\n    } else {\n      decision = 'approve_no_date';\n    }\n  } else {\n    decision = 'approve_no_date';\n  }\n} else if (['nie','no','odrzuc','odrzuć'].includes(lower)) {\n  decision = 'reject';\n} else {\n  decision = 'revise';\n}\n\nconst rowId = $('Get Jobs To Process').first().json._id;\nconst jobId = $('Get Jobs To Process').first().json.job_id;\nconst feedback = decision === 'revise' ? raw : '';\nreturn [{ json: { decision, publish_at, row_id: rowId, job_id: jobId, revision_feedback: feedback } }];"
      },
      "id": "parse-response",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1808,
        0
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "revise",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.decision }}",
                    "rightValue": "approve_no_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "id": "switch-decision",
      "name": "Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2000,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "jobs",
        "rowId": "={{ $json.row_id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "status",
              "columnValue": "rejected"
            },
            {
              "columnName": "approval_status",
              "columnValue": "rejected"
            },
            {
              "columnName": "updated_at",
              "columnValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "update-rejected",
      "name": "Set Rejected",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        2208,
        0
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "jobs",
        "rowId": "={{ $json.row_id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "status",
              "columnValue": "revision_needed"
            },
            {
              "columnName": "revision_feedback",
              "columnValue": "={{ $json.revision_feedback }}"
            },
            {
              "columnName": "updated_at",
              "columnValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "update-revise",
      "name": "Set Revision Needed",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        2208,
        208
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "mode": "id",
          "value": "1490792473440813199"
        },
        "content": "=✅ **Job {{ $json.job_id }}** zatwierdzony. Slajdy na Drive, linki w Seatable (`final_slides`), `publish_at` ustawione.",
        "options": {}
      },
      "id": "discord-approved",
      "name": "Discord: Approved",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2400,
        -208
      ],
      "webhookId": "aaacaecb-8874-4f2f-8c57-c3a4b0ea806c",
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "mode": "id",
          "value": "1490792473440813199"
        },
        "content": "=❌ **Job {{ $json.job_id }} odrzucony.**",
        "options": {}
      },
      "id": "discord-rejected",
      "name": "Discord: Rejected",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2400,
        0
      ],
      "webhookId": "e15237a1-05fe-4ea9-9637-6bb4da87d49b",
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "mode": "id",
          "value": "1490792473440813199"
        },
        "content": "=✏️ **Job {{ $json.job_id }}** — przyjeto feedback, regeneruje tresc...",
        "options": {}
      },
      "id": "discord-revise",
      "name": "Discord: Revising",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2400,
        208
      ],
      "webhookId": "5c0a67fc-84c2-4724-beae-86135919e0f3",
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $('Generate Content').all();\nif (!items.length) return [];\nconst rowId = $('Get Jobs To Process').first().json._id;\nconst slides = items.map(i => ({ channel: i.json.channel, body: i.json.generated_text }));\nconst generated_text = slides.map(s => '## ' + s.channel + '\\n' + s.body).join('\\n\\n---\\n\\n');\nreturn [{ json: { _id: rowId, generated_text, job_id: items[0].json.job_id } }];"
      },
      "id": "combine-save",
      "name": "Combine Generated Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        904,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "return $('Generate Content').all().map(i => ({\n  json: { job_id: i.json.job_id, channel: i.json.channel, generated_text: i.json.generated_text },\n  binary: i.binary || {},\n}));"
      },
      "id": "expand-discord",
      "name": "Expand for Discord Previews",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const pr = $('Parse Response').first().json;\nconst publish_at = pr.publish_at || '';\nreturn [{ json: { row_id: pr.row_id, job_id: pr.job_id, publish_at } }];"
      },
      "id": "seed-publish",
      "name": "Seed Publish Date",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        -400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const ctx = $input.first().json;\nreturn $('Generate Content').all().map(i => ({\n  json: { ...i.json, row_id: ctx.row_id, job_id: ctx.job_id, publish_at: ctx.publish_at },\n  binary: i.binary || {},\n}));"
      },
      "id": "expand-drive-upload",
      "name": "Expand for Drive Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1zPTsX9_tGzj47EMnZhNhvtf-xOkRbeu8"
        },
        "name": "={{ $json.job_id + '_' + $json.channel + '_approved.png' }}",
        "options": {}
      },
      "id": "drive-upload-slide",
      "name": "Upload Approved Slide",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3024,
        -208
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "js6W5HNGMgoA1GC0",
          "name": "n8n Google Drive"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const uploaded = $input.all();\nconst expanded = $('Expand for Drive Upload').all();\nif (!uploaded.length || !expanded.length) return [];\nconst rowId = expanded[0].json.row_id;\nconst pub = expanded[0].json.publish_at;\nconst jobId = expanded[0].json.job_id;\nconst slides = uploaded.map((it, idx) => {\n  const j = it.json;\n  const ch = expanded[idx] && expanded[idx].json ? expanded[idx].json.channel : '';\n  return {\n    channel: ch,\n    drive_file_id: j.id || j.fileId || '',\n    drive_web_view_link: j.webViewLink || j.webContentLink || '',\n  };\n});\nreturn [{ json: { row_id: rowId, publish_at: pub, final_slides: JSON.stringify(slides), job_id: jobId } }];"
      },
      "id": "aggregate-drive-links",
      "name": "Aggregate Drive Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3232,
        -208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "jobs",
        "rowId": "={{ $json.row_id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "status",
              "columnValue": "approved"
            },
            {
              "columnName": "approval_status",
              "columnValue": "approved"
            },
            {
              "columnName": "publish_at",
              "columnValue": "={{ $json.publish_at }}"
            },
            {
              "columnName": "final_slides",
              "columnValue": "={{ $json.final_slides }}"
            },
            {
              "columnName": "updated_at",
              "columnValue": "={{ $now.toISO() }}"
            }
          ]
        }
      },
      "id": "set-approved-final",
      "name": "Set Approved + Drive",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        3440,
        -208
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      },
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "id": "ask-date-node",
      "name": "Discord Ask Date",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2400,
        -500
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "mode": "id",
          "value": "1490792473440813199"
        },
        "message": "=📅 **Job {{ $('Get Jobs To Process').first().json.job_id }}** — brakuje daty publikacji.\n\nPodaj w formacie: `2026-04-20` lub `2026-04-20 18:00`\nStrefa: Europe/Warsaw.",
        "responseType": "freeText",
        "options": {}
      },
      "webhookId": "7a0e2727-a226-4a86-afb3-9c46013918b2",
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "id": "parse-date-node",
      "name": "Parse Date Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        -500
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst text = String(item.data?.text || item.text || '').trim().replace(/^ok\\s*/i, '');\nconst m1 = text.match(/(\\d{4})-(\\d{2})-(\\d{2})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\nconst m2 = text.match(/(\\d{1,2})[.](\\d{1,2})[.](\\d{4})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\nlet publish_at = '';\nif (m1) {\n  publish_at = m1[1] + '-' + m1[2] + '-' + m1[3];\n  if (m1[4]) publish_at += ' ' + m1[4].padStart(2,'0') + ':' + (m1[5]||'00');\n} else if (m2) {\n  publish_at = m2[3] + '-' + m2[2].padStart(2,'0') + '-' + m2[1].padStart(2,'0');\n  if (m2[4]) publish_at += ' ' + m2[4].padStart(2,'0') + ':' + (m2[5]||'00');\n} else {\n  throw new Error('Nie rozpoznano daty. Podaj: 2026-04-20 lub 2026-04-20 18:00 (otrzymano: ' + text + ')');\n}\nconst pr = $('Parse Response').first().json;\nreturn [{ json: { row_id: pr.row_id, job_id: pr.job_id, publish_at } }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Jobs To Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Jobs To Process": {
      "main": [
        [
          {
            "node": "Mark Generating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Generating": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Combine Generated Text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Expand for Discord Previews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Generated Text": {
      "main": [
        [
          {
            "node": "Save Generated Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Generated Text": {
      "main": [
        []
      ]
    },
    "Expand for Discord Previews": {
      "main": [
        [
          {
            "node": "Send Image Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image Preview": {
      "main": [
        [
          {
            "node": "Discord Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Preview": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision": {
      "main": [
        [
          {
            "node": "Seed Publish Date",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Rejected",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Revision Needed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discord Ask Date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seed Publish Date": {
      "main": [
        [
          {
            "node": "Expand for Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expand for Drive Upload": {
      "main": [
        [
          {
            "node": "Upload Approved Slide",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Approved Slide": {
      "main": [
        [
          {
            "node": "Aggregate Drive Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Drive Links": {
      "main": [
        [
          {
            "node": "Set Approved + Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Approved + Drive": {
      "main": [
        [
          {
            "node": "Discord: Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Rejected": {
      "main": [
        [
          {
            "node": "Discord: Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Revision Needed": {
      "main": [
        [
          {
            "node": "Discord: Revising",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Ask Date": {
      "main": [
        [
          {
            "node": "Parse Date Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Date Response": {
      "main": [
        [
          {
            "node": "Expand for Drive Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "23af9577-76e4-47ee-81e5-28d2e26e2352",
  "activeVersionId": "23af9577-76e4-47ee-81e5-28d2e26e2352",
  "versionCounter": 99,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T18:41:18.864Z",
      "createdAt": "2026-04-07T18:41:18.864Z",
      "role": "workflow:owner",
      "workflowId": "kSXz3MZM2SuJ31pf",
      "projectId": "PXHJPWu3tFvLsdCG",
      "project": {
        "updatedAt": "2026-04-06T12:34:09.192Z",
        "createdAt": "2026-04-06T08:30:03.839Z",
        "id": "PXHJPWu3tFvLsdCG",
        "name": "Career Guide <admin@careerguide.pl>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T16:30:37.535Z",
    "createdAt": "2026-04-10T16:30:37.535Z",
    "versionId": "23af9577-76e4-47ee-81e5-28d2e26e2352",
    "workflowId": "kSXz3MZM2SuJ31pf",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 5
              }
            ]
          }
        },
        "id": "schedule",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "list",
          "tableName": "jobs",
          "viewName": "to-process",
          "options": {}
        },
        "id": "get-jobs",
        "name": "Get Jobs To Process",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        },
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "operation": "update",
          "tableName": "jobs",
          "rowId": "={{ $json._id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "status",
                "columnValue": "generating"
              },
              {
                "columnName": "updated_at",
                "columnValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "mark-generating",
        "name": "Mark Generating",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          608,
          0
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        },
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "mode": "id",
            "value": "AJTS9utBRhhRDC7o"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "job_id": "={{ $('Get Jobs To Process').first().json.job_id }}",
              "raw_text": "={{ $('Get Jobs To Process').first().json.raw_text }}",
              "channels": "={{ (v => v == null || v === '' ? '[\"linkedin\",\"facebook\",\"instagram\"]' : typeof v === 'string' ? v : JSON.stringify(v))($('Get Jobs To Process').first().json.channels) }}",
              "content_type": "={{ $('Get Jobs To Process').first().json.content_type }}",
              "revision_feedback": "={{ $('Get Jobs To Process').first().json.revision_feedback }}",
              "assets": "={{ $('Get Jobs To Process').first().json.assets }}",
              "slide_theme": "={{ $('Get Jobs To Process').first().json.slide_theme }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "job_id",
                "displayName": "job_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "raw_text",
                "displayName": "raw_text",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "channels",
                "displayName": "channels",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "content_type",
                "displayName": "content_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "revision_feedback",
                "displayName": "revision_feedback",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "assets",
                "displayName": "assets",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              },
              {
                "id": "slide_theme",
                "displayName": "slide_theme",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "id": "gen-content",
        "name": "Generate Content",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          800,
          0
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableName": "jobs",
          "rowId": "={{ $('Get Jobs To Process').first().json._id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "generated_text",
                "columnValue": "={{ $json.generated_text }}"
              },
              {
                "columnName": "status",
                "columnValue": "awaiting_approval"
              },
              {
                "columnName": "updated_at",
                "columnValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "save-generated",
        "name": "Save Generated Text",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          1008,
          0
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        },
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "send",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "mode": "id",
            "value": "1490792473440813199"
          },
          "content": "=🖼️ **{{ $json.channel }}** — Job `{{ $json.job_id }}`",
          "files": {
            "values": [
              {
                "inputFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "send-image",
        "name": "Send Image Preview",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1400,
          0
        ],
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        },
        "webhookId": "879211c4-8430-4913-954d-4384591b83ad"
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "sendAndWait",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "mode": "id",
            "value": "1490792473440813199"
          },
          "message": "=🖼️ **Job {{ $('Get Jobs To Process').first().json.job_id }}** — oceń post.\n\n✅ `ok` — zatwierdź\n✅ `ok 2026-04-20` lub `ok 2026-04-20 18:00` — zatwierdź z datą publikacji\n❌ `nie` — odrzuć\n✏️ Inna treść — wyślij jako poprawkę",
          "responseType": "freeText",
          "options": {}
        },
        "id": "discord-preview",
        "name": "Discord Preview",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          1600,
          0
        ],
        "webhookId": "734e5b71-782a-455d-a7ad-1d545c8054f2",
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst raw = (item.data?.text || item.output || item.text || item.content || item.response || JSON.stringify(item)).toString().trim();\nconst lower = raw.toLowerCase();\n\nlet decision;\nlet publish_at = '';\n\nconst okMatch = lower.match(/^(ok|tak|yes)(\\s+(.+))?$/);\nif (okMatch) {\n  if (okMatch[3]) {\n    const datePart = okMatch[3].trim();\n    const m1 = datePart.match(/(\\d{4})-(\\d{2})-(\\d{2})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\n    const m2 = datePart.match(/(\\d{1,2})[.](\\d{1,2})[.](\\d{4})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\n    if (m1) {\n      publish_at = m1[1] + '-' + m1[2] + '-' + m1[3];\n      if (m1[4]) publish_at += ' ' + m1[4].padStart(2,'0') + ':' + (m1[5]||'00');\n      decision = 'approve';\n    } else if (m2) {\n      publish_at = m2[3] + '-' + m2[2].padStart(2,'0') + '-' + m2[1].padStart(2,'0');\n      if (m2[4]) publish_at += ' ' + m2[4].padStart(2,'0') + ':' + (m2[5]||'00');\n      decision = 'approve';\n    } else {\n      decision = 'approve_no_date';\n    }\n  } else {\n    decision = 'approve_no_date';\n  }\n} else if (['nie','no','odrzuc','odrzuć'].includes(lower)) {\n  decision = 'reject';\n} else {\n  decision = 'revise';\n}\n\nconst rowId = $('Get Jobs To Process').first().json._id;\nconst jobId = $('Get Jobs To Process').first().json.job_id;\nconst feedback = decision === 'revise' ? raw : '';\nreturn [{ json: { decision, publish_at, row_id: rowId, job_id: jobId, revision_feedback: feedback } }];"
        },
        "id": "parse-response",
        "name": "Parse Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1808,
          0
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.decision }}",
                      "rightValue": "approve",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.decision }}",
                      "rightValue": "reject",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.decision }}",
                      "rightValue": "revise",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.decision }}",
                      "rightValue": "approve_no_date",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          }
        },
        "id": "switch-decision",
        "name": "Decision",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          2000,
          0
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableName": "jobs",
          "rowId": "={{ $json.row_id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "status",
                "columnValue": "rejected"
              },
              {
                "columnName": "approval_status",
                "columnValue": "rejected"
              },
              {
                "columnName": "updated_at",
                "columnValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "update-rejected",
        "name": "Set Rejected",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          2208,
          0
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        },
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "operation": "update",
          "tableName": "jobs",
          "rowId": "={{ $json.row_id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "status",
                "columnValue": "revision_needed"
              },
              {
                "columnName": "revision_feedback",
                "columnValue": "={{ $json.revision_feedback }}"
              },
              {
                "columnName": "updated_at",
                "columnValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "update-revise",
        "name": "Set Revision Needed",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          2208,
          208
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        },
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "mode": "id",
            "value": "1490792473440813199"
          },
          "content": "=✅ **Job {{ $json.job_id }}** zatwierdzony. Slajdy na Drive, linki w Seatable (`final_slides`), `publish_at` ustawione.",
          "options": {}
        },
        "id": "discord-approved",
        "name": "Discord: Approved",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2400,
          -208
        ],
        "webhookId": "aaacaecb-8874-4f2f-8c57-c3a4b0ea806c",
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "mode": "id",
            "value": "1490792473440813199"
          },
          "content": "=❌ **Job {{ $json.job_id }} odrzucony.**",
          "options": {}
        },
        "id": "discord-rejected",
        "name": "Discord: Rejected",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2400,
          0
        ],
        "webhookId": "e15237a1-05fe-4ea9-9637-6bb4da87d49b",
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "mode": "id",
            "value": "1490792473440813199"
          },
          "content": "=✏️ **Job {{ $json.job_id }}** — przyjeto feedback, regeneruje tresc...",
          "options": {}
        },
        "id": "discord-revise",
        "name": "Discord: Revising",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2400,
          208
        ],
        "webhookId": "5c0a67fc-84c2-4724-beae-86135919e0f3",
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const items = $('Generate Content').all();\nif (!items.length) return [];\nconst rowId = $('Get Jobs To Process').first().json._id;\nconst slides = items.map(i => ({ channel: i.json.channel, body: i.json.generated_text }));\nconst generated_text = slides.map(s => '## ' + s.channel + '\\n' + s.body).join('\\n\\n---\\n\\n');\nreturn [{ json: { _id: rowId, generated_text, job_id: items[0].json.job_id } }];"
        },
        "id": "combine-save",
        "name": "Combine Generated Text",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          904,
          0
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "return $('Generate Content').all().map(i => ({\n  json: { job_id: i.json.job_id, channel: i.json.channel, generated_text: i.json.generated_text },\n  binary: i.binary || {},\n}));"
        },
        "id": "expand-discord",
        "name": "Expand for Discord Previews",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1120,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const pr = $('Parse Response').first().json;\nconst publish_at = pr.publish_at || '';\nreturn [{ json: { row_id: pr.row_id, job_id: pr.job_id, publish_at } }];"
        },
        "id": "seed-publish",
        "name": "Seed Publish Date",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2208,
          -400
        ]
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const ctx = $input.first().json;\nreturn $('Generate Content').all().map(i => ({\n  json: { ...i.json, row_id: ctx.row_id, job_id: ctx.job_id, publish_at: ctx.publish_at },\n  binary: i.binary || {},\n}));"
        },
        "id": "expand-drive-upload",
        "name": "Expand for Drive Upload",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2816,
          -208
        ]
      },
      {
        "parameters": {
          "operation": "upload",
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1zPTsX9_tGzj47EMnZhNhvtf-xOkRbeu8"
          },
          "name": "={{ $json.job_id + '_' + $json.channel + '_approved.png' }}",
          "options": {}
        },
        "id": "drive-upload-slide",
        "name": "Upload Approved Slide",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          3024,
          -208
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "js6W5HNGMgoA1GC0",
            "name": "n8n Google Drive"
          }
        }
      },
      {
        "parameters": {
          "mode": "runOnceForAllItems",
          "jsCode": "const uploaded = $input.all();\nconst expanded = $('Expand for Drive Upload').all();\nif (!uploaded.length || !expanded.length) return [];\nconst rowId = expanded[0].json.row_id;\nconst pub = expanded[0].json.publish_at;\nconst jobId = expanded[0].json.job_id;\nconst slides = uploaded.map((it, idx) => {\n  const j = it.json;\n  const ch = expanded[idx] && expanded[idx].json ? expanded[idx].json.channel : '';\n  return {\n    channel: ch,\n    drive_file_id: j.id || j.fileId || '',\n    drive_web_view_link: j.webViewLink || j.webContentLink || '',\n  };\n});\nreturn [{ json: { row_id: rowId, publish_at: pub, final_slides: JSON.stringify(slides), job_id: jobId } }];"
        },
        "id": "aggregate-drive-links",
        "name": "Aggregate Drive Links",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3232,
          -208
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "tableName": "jobs",
          "rowId": "={{ $json.row_id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "status",
                "columnValue": "approved"
              },
              {
                "columnName": "approval_status",
                "columnValue": "approved"
              },
              {
                "columnName": "publish_at",
                "columnValue": "={{ $json.publish_at }}"
              },
              {
                "columnName": "final_slides",
                "columnValue": "={{ $json.final_slides }}"
              },
              {
                "columnName": "updated_at",
                "columnValue": "={{ $now.toISO() }}"
              }
            ]
          }
        },
        "id": "set-approved-final",
        "name": "Set Approved + Drive",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          3440,
          -208
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        },
        "retryOnFail": true,
        "maxTries": 5,
        "waitBetweenTries": 5000
      },
      {
        "id": "ask-date-node",
        "name": "Discord Ask Date",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          2400,
          -500
        ],
        "parameters": {
          "resource": "message",
          "operation": "sendAndWait",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "mode": "id",
            "value": "1490792473440813199"
          },
          "message": "=📅 **Job {{ $('Get Jobs To Process').first().json.job_id }}** — brakuje daty publikacji.\n\nPodaj w formacie: `2026-04-20` lub `2026-04-20 18:00`\nStrefa: Europe/Warsaw.",
          "responseType": "freeText",
          "options": {}
        },
        "webhookId": "7a0e2727-a226-4a86-afb3-9c46013918b2",
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "id": "parse-date-node",
        "name": "Parse Date Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2608,
          -500
        ],
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst text = String(item.data?.text || item.text || '').trim().replace(/^ok\\s*/i, '');\nconst m1 = text.match(/(\\d{4})-(\\d{2})-(\\d{2})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\nconst m2 = text.match(/(\\d{1,2})[.](\\d{1,2})[.](\\d{4})(?:\\s+(\\d{1,2}):(\\d{2}))?/);\nlet publish_at = '';\nif (m1) {\n  publish_at = m1[1] + '-' + m1[2] + '-' + m1[3];\n  if (m1[4]) publish_at += ' ' + m1[4].padStart(2,'0') + ':' + (m1[5]||'00');\n} else if (m2) {\n  publish_at = m2[3] + '-' + m2[2].padStart(2,'0') + '-' + m2[1].padStart(2,'0');\n  if (m2[4]) publish_at += ' ' + m2[4].padStart(2,'0') + ':' + (m2[5]||'00');\n} else {\n  throw new Error('Nie rozpoznano daty. Podaj: 2026-04-20 lub 2026-04-20 18:00 (otrzymano: ' + text + ')');\n}\nconst pr = $('Parse Response').first().json;\nreturn [{ json: { row_id: pr.row_id, job_id: pr.job_id, publish_at } }];"
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Jobs To Process",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Jobs To Process": {
        "main": [
          [
            {
              "node": "Mark Generating",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Generating": {
        "main": [
          [
            {
              "node": "Generate Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Content": {
        "main": [
          [
            {
              "node": "Combine Generated Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combine Generated Text": {
        "main": [
          [
            {
              "node": "Save Generated Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Save Generated Text": {
        "main": [
          [
            {
              "node": "Expand for Discord Previews",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand for Discord Previews": {
        "main": [
          [
            {
              "node": "Send Image Preview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Image Preview": {
        "main": [
          [
            {
              "node": "Discord Preview",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Preview": {
        "main": [
          [
            {
              "node": "Parse Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Response": {
        "main": [
          [
            {
              "node": "Decision",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Decision": {
        "main": [
          [
            {
              "node": "Seed Publish Date",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Rejected",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Revision Needed",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Discord Ask Date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Seed Publish Date": {
        "main": [
          [
            {
              "node": "Expand for Drive Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Expand for Drive Upload": {
        "main": [
          [
            {
              "node": "Upload Approved Slide",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Approved Slide": {
        "main": [
          [
            {
              "node": "Aggregate Drive Links",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate Drive Links": {
        "main": [
          [
            {
              "node": "Set Approved + Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Approved + Drive": {
        "main": [
          [
            {
              "node": "Discord: Approved",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Rejected": {
        "main": [
          [
            {
              "node": "Discord: Rejected",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Revision Needed": {
        "main": [
          [
            {
              "node": "Discord: Revising",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Ask Date": {
        "main": [
          [
            {
              "node": "Parse Date Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Date Response": {
        "main": [
          [
            {
              "node": "Expand for Drive Upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Career Guide",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T16:30:37.625Z",
        "id": 133,
        "workflowId": "kSXz3MZM2SuJ31pf",
        "versionId": "23af9577-76e4-47ee-81e5-28d2e26e2352",
        "event": "activated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      },
      {
        "createdAt": "2026-04-10T16:30:37.589Z",
        "id": 132,
        "workflowId": "kSXz3MZM2SuJ31pf",
        "versionId": "23af9577-76e4-47ee-81e5-28d2e26e2352",
        "event": "deactivated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    ]
  }
}
