workflows/generate/cg-gen-content.json
{
  "updatedAt": "2026-04-09T21:27:12.155Z",
  "createdAt": "2026-04-07T15:21:29.716Z",
  "id": "z7FIfQqHzQGJW4ib",
  "name": "cg-gen-content",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"job_id\": \"abc-123\",\n  \"raw_text\": \"Dzisiaj mieliśmy świetne szkolenie z AI\",\n  \"channels\": [\"linkedin\"],\n  \"content_type\": \"post\",\n  \"revision_feedback\": \"\"\n}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst channels = Array.isArray(item.channels) ? item.channels.join(', ') : (item.channels || 'linkedin');\nconst contentType = item.content_type || 'post';\nconst feedback = item.revision_feedback || '';\n\nlet userPrompt = `Przygotuj ${contentType} na kanaly: ${channels}.\n\nMaterial zrodlowy:\n${item.raw_text}`;\n\nif (feedback) {\n  userPrompt += `\\n\\nPoprawki od uzytkownika (zastosuj je):\\n${feedback}`;\n}\n\nconst systemPrompt = `Jestes doswiadczonym copywriterem marketingowym. Tworzysz angazujace tresci na social media.\n\nNAJWAZNIEJSZA ZASADA: ZAWSZE generuj gotowa tresc posta. NIGDY nie pytaj o dodatkowe informacje, nie pros o doprecyzowanie, nie zadawaj pytan. Pracuj z tym co dostales - nawet jesli material zrodlowy jest krotki lub ogolny, stworz z niego najlepszy mozliwy post.\n\nZasady:\n- Pisz po polsku, chyba ze uzytkownik wskaze inaczej\n- Dostosuj ton i dlugosc do kanalu (LinkedIn = profesjonalny, max 3000 znakow; Facebook = luzniejszy; Instagram = krotki + hashtagi)\n- Dodaj odpowiednie emoji i hashtagi jesli pasuja do kanalu\n- Podaj TYLKO gotowa tresc posta - bez meta-komentarzy, bez \"oto post\", bez wyjasnien\n- Jesli jest kilka kanalow, przygotuj osobna wersje dla kazdego, oddzielona naglowkiem kanalu`;\n\nreturn [{ json: { systemPrompt, userPrompt, job_id: item.job_id } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.systemPrompt }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "llm-chain",
      "name": "Generate Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "id": "gemini",
      "name": "Gemini 2.5 flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "d4oXIHXlor7dkMSp",
          "name": "CG Google Gemini — dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst jobId = $('Build Prompt').first().json.job_id;\n\nreturn [{ json: {\n  job_id: jobId,\n  generated_text: item.text || item.output || JSON.stringify(item)\n} }];"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst text = item.generated_text || '';\n\nconst lines = text.split('\\n').filter(l => l.trim());\nlet title = lines[0] || 'Career Guide';\nlet subtitle = lines.slice(1, 3).join(' ').substring(0, 120);\n\ntitle = title.replace(/^#+\\s*/, '').replace(/\\*\\*/g, '').substring(0, 80);\nsubtitle = subtitle.replace(/\\*\\*/g, '').replace(/^[-•]\\s*/, '');\n\nconst esc = s => s.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n\nconst css = `@import url(\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\");:root{--cg-brand-primary:#4d96d9;--cg-brand-accent:#89c6eb;--cg-text-default:#1a1e32;--cg-text-muted:#667797;--cg-surface-page:#fcfcfe;--cg-matcher-cyan:#00acc1;--cg-matcher-purple:#8e44ad;--cg-matcher-pink:#d81b60}.cg-root.cg-dark{--cg-brand-primary:#8cb2e6;--cg-brand-accent:#a7dbff;--cg-text-default:#fbfbfd;--cg-text-muted:#a5afc8;--cg-surface-page:#161b2b}*,*::before,*::after{box-sizing:border-box}html,body{margin:0;padding:0;width:100%;height:100%;-webkit-font-smoothing:antialiased}body{font-family:\"Inter\",system-ui,sans-serif;font-size:18px;line-height:1.45;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-root{width:100%;height:100%;min-height:100%;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-layout{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:100%;padding:48px 56px;max-width:1200px;margin:0 auto;text-align:center}.cg-kicker{font-size:14px;font-weight:600;letter-spacing:0.12em;text-transform:uppercase;color:var(--cg-brand-primary);margin:0 0 12px}.cg-title{font-size:44px;font-weight:700;line-height:1.15;color:var(--cg-text-default);margin:0 0 16px}.cg-subtitle{font-size:22px;font-weight:500;line-height:1.35;color:var(--cg-text-muted);margin:0;max-width:920px}.cg-rule{height:4px;width:120px;border-radius:999px;background:linear-gradient(90deg,var(--cg-matcher-cyan),var(--cg-matcher-purple),var(--cg-matcher-pink));margin:24px auto}`;\n\nconst html = `<div class=\"cg-root cg-dark\"><div class=\"cg-layout\"><p class=\"cg-kicker\">Career Guide</p><h1 class=\"cg-title\">${esc(title)}</h1><p class=\"cg-subtitle\">${esc(subtitle)}</p><div class=\"cg-rule\"></div></div></div>`;\n\nreturn [{ json: {\n  ...item,\n  image_html: html,\n  image_css: css\n} }];"
      },
      "id": "build-image-html",
      "name": "Build Image HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hcti-render:3000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.image_html, css: $json.image_css, width: 1200, height: 630, format: 'png' }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "render-image",
      "name": "Render Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const imgItem = $input.first();\nconst prevData = $('Build Image HTML').first().json;\n\nreturn [{ json: {\n  job_id: prevData.job_id,\n  generated_text: prevData.generated_text\n}, binary: imgItem.binary }];"
      },
      "id": "final-output",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Build Image HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image HTML": {
      "main": [
        [
          {
            "node": "Render Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Image": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4ad99f86-e65c-4021-948b-6bf70d444779",
  "activeVersionId": "4ad99f86-e65c-4021-948b-6bf70d444779",
  "versionCounter": 60,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-07T15:21:29.719Z",
      "createdAt": "2026-04-07T15:21:29.719Z",
      "role": "workflow:owner",
      "workflowId": "z7FIfQqHzQGJW4ib",
      "projectId": "PXHJPWu3tFvLsdCG",
      "project": {
        "updatedAt": "2026-04-06T12:34:09.192Z",
        "createdAt": "2026-04-06T08:30:03.839Z",
        "id": "PXHJPWu3tFvLsdCG",
        "name": "Career Guide <admin@careerguide.pl>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-09T21:27:12.157Z",
    "createdAt": "2026-04-09T21:27:12.157Z",
    "versionId": "4ad99f86-e65c-4021-948b-6bf70d444779",
    "workflowId": "z7FIfQqHzQGJW4ib",
    "nodes": [
      {
        "parameters": {
          "inputSource": "jsonExample",
          "jsonExample": "{\n  \"job_id\": \"abc-123\",\n  \"raw_text\": \"Dzisiaj mieliśmy świetne szkolenie z AI\",\n  \"channels\": [\"linkedin\"],\n  \"content_type\": \"post\",\n  \"revision_feedback\": \"\"\n}"
        },
        "id": "trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\nconst channels = Array.isArray(item.channels) ? item.channels.join(', ') : (item.channels || 'linkedin');\nconst contentType = item.content_type || 'post';\nconst feedback = item.revision_feedback || '';\n\nlet userPrompt = `Przygotuj ${contentType} na kanaly: ${channels}.\n\nMaterial zrodlowy:\n${item.raw_text}`;\n\nif (feedback) {\n  userPrompt += `\\n\\nPoprawki od uzytkownika (zastosuj je):\\n${feedback}`;\n}\n\nconst systemPrompt = `Jestes doswiadczonym copywriterem marketingowym. Tworzysz angazujace tresci na social media.\n\nNAJWAZNIEJSZA ZASADA: ZAWSZE generuj gotowa tresc posta. NIGDY nie pytaj o dodatkowe informacje, nie pros o doprecyzowanie, nie zadawaj pytan. Pracuj z tym co dostales - nawet jesli material zrodlowy jest krotki lub ogolny, stworz z niego najlepszy mozliwy post.\n\nZasady:\n- Pisz po polsku, chyba ze uzytkownik wskaze inaczej\n- Dostosuj ton i dlugosc do kanalu (LinkedIn = profesjonalny, max 3000 znakow; Facebook = luzniejszy; Instagram = krotki + hashtagi)\n- Dodaj odpowiednie emoji i hashtagi jesli pasuja do kanalu\n- Podaj TYLKO gotowa tresc posta - bez meta-komentarzy, bez \"oto post\", bez wyjasnien\n- Jesli jest kilka kanalow, przygotuj osobna wersje dla kazdego, oddzielona naglowkiem kanalu`;\n\nreturn [{ json: { systemPrompt, userPrompt, job_id: item.job_id } }];"
        },
        "id": "build-prompt",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $json.systemPrompt }}"
              }
            ]
          },
          "batching": {}
        },
        "id": "llm-chain",
        "name": "Generate Content",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite-preview",
          "options": {}
        },
        "id": "gemini",
        "name": "Gemini 2.5 flash",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          448,
          208
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "d4oXIHXlor7dkMSp",
            "name": "CG Google Gemini — dev"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst jobId = $('Build Prompt').first().json.job_id;\n\nreturn [{ json: {\n  job_id: jobId,\n  generated_text: item.text || item.output || JSON.stringify(item)\n} }];"
        },
        "id": "format-output",
        "name": "Format Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst text = item.generated_text || '';\n\nconst lines = text.split('\\n').filter(l => l.trim());\nlet title = lines[0] || 'Career Guide';\nlet subtitle = lines.slice(1, 3).join(' ').substring(0, 120);\n\ntitle = title.replace(/^#+\\s*/, '').replace(/\\*\\*/g, '').substring(0, 80);\nsubtitle = subtitle.replace(/\\*\\*/g, '').replace(/^[-•]\\s*/, '');\n\nconst esc = s => s.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n\nconst css = `@import url(\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\");:root{--cg-brand-primary:#4d96d9;--cg-brand-accent:#89c6eb;--cg-text-default:#1a1e32;--cg-text-muted:#667797;--cg-surface-page:#fcfcfe;--cg-matcher-cyan:#00acc1;--cg-matcher-purple:#8e44ad;--cg-matcher-pink:#d81b60}.cg-root.cg-dark{--cg-brand-primary:#8cb2e6;--cg-brand-accent:#a7dbff;--cg-text-default:#fbfbfd;--cg-text-muted:#a5afc8;--cg-surface-page:#161b2b}*,*::before,*::after{box-sizing:border-box}html,body{margin:0;padding:0;width:100%;height:100%;-webkit-font-smoothing:antialiased}body{font-family:\"Inter\",system-ui,sans-serif;font-size:18px;line-height:1.45;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-root{width:100%;height:100%;min-height:100%;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-layout{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:100%;padding:48px 56px;max-width:1200px;margin:0 auto;text-align:center}.cg-kicker{font-size:14px;font-weight:600;letter-spacing:0.12em;text-transform:uppercase;color:var(--cg-brand-primary);margin:0 0 12px}.cg-title{font-size:44px;font-weight:700;line-height:1.15;color:var(--cg-text-default);margin:0 0 16px}.cg-subtitle{font-size:22px;font-weight:500;line-height:1.35;color:var(--cg-text-muted);margin:0;max-width:920px}.cg-rule{height:4px;width:120px;border-radius:999px;background:linear-gradient(90deg,var(--cg-matcher-cyan),var(--cg-matcher-purple),var(--cg-matcher-pink));margin:24px auto}`;\n\nconst html = `<div class=\"cg-root cg-dark\"><div class=\"cg-layout\"><p class=\"cg-kicker\">Career Guide</p><h1 class=\"cg-title\">${esc(title)}</h1><p class=\"cg-subtitle\">${esc(subtitle)}</p><div class=\"cg-rule\"></div></div></div>`;\n\nreturn [{ json: {\n  ...item,\n  image_html: html,\n  image_css: css\n} }];"
        },
        "id": "build-image-html",
        "name": "Build Image HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          992,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://hcti-render:3000/render",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ html: $json.image_html, css: $json.image_css, width: 1200, height: 630, format: 'png' }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "render-image",
        "name": "Render Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1216,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const imgItem = $input.first();\nconst prevData = $('Build Image HTML').first().json;\n\nreturn [{ json: {\n  job_id: prevData.job_id,\n  generated_text: prevData.generated_text\n}, binary: imgItem.binary }];"
        },
        "id": "final-output",
        "name": "Final Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1440,
          0
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Content": {
        "main": [
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 2.5 flash": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Content",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Format Output": {
        "main": [
          [
            {
              "node": "Build Image HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Image HTML": {
        "main": [
          [
            {
              "node": "Render Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Image": {
        "main": [
          [
            {
              "node": "Final Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Career Guide",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-09T21:27:12.229Z",
        "id": 93,
        "workflowId": "z7FIfQqHzQGJW4ib",
        "versionId": "4ad99f86-e65c-4021-948b-6bf70d444779",
        "event": "activated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      },
      {
        "createdAt": "2026-04-09T21:27:12.202Z",
        "id": 92,
        "workflowId": "z7FIfQqHzQGJW4ib",
        "versionId": "4ad99f86-e65c-4021-948b-6bf70d444779",
        "event": "deactivated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    ]
  }
}