workflows/generate/cg-gen-content.json
{
  "updatedAt": "2026-04-10T09:46:11.261Z",
  "createdAt": "2026-04-07T15:21:29.716Z",
  "id": "z7FIfQqHzQGJW4ib",
  "name": "cg-gen-content",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst channels = Array.isArray(item.channels) ? item.channels.join(', ') : (item.channels || 'linkedin');\nconst contentType = item.content_type || 'post';\nconst feedback = item.revision_feedback || '';\nconst assets = item.assets || '[]';\n\nlet userPrompt = `Przygotuj ${contentType} na kanaly: ${channels}.\n\nMaterial zrodlowy:\n${item.raw_text}`;\n\nif (feedback) {\n  userPrompt += `\\n\\nPoprawki od uzytkownika (zastosuj je):\\n${feedback}`;\n}\n\nconst systemPrompt = `Jestes doswiadczonym copywriterem marketingowym. Tworzysz angazujace tresci na social media.\n\nNAJWAZNIEJSZA ZASADA: ZAWSZE generuj gotowa tresc posta. NIGDY nie pytaj o dodatkowe informacje, nie pros o doprecyzowanie, nie zadawaj pytan. Pracuj z tym co dostales - nawet jesli material zrodlowy jest krotki lub ogolny, stworz z niego najlepszy mozliwy post.\n\nZasady:\n- Pisz po polsku, chyba ze uzytkownik wskaze inaczej\n- Dostosuj ton i dlugosc do kanalu (LinkedIn = profesjonalny, max 3000 znakow; Facebook = luzniejszy; Instagram = krotki + hashtagi)\n- Dodaj odpowiednie emoji i hashtagi jesli pasuja do kanalu\n- Podaj TYLKO gotowa tresc posta - bez meta-komentarzy, bez \"oto post\", bez wyjasnien\n- Jesli jest kilka kanalow, przygotuj osobna wersje dla kazdego, oddzielona naglowkiem kanalu`;\n\nreturn [{ json: { systemPrompt, userPrompt, job_id: item.job_id, assets } }];"
      },
      "id": "build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userPrompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.systemPrompt }}"
            }
          ]
        },
        "batching": {}
      },
      "id": "llm-chain",
      "name": "Generate Content",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "id": "gemini",
      "name": "Gemini 2.5 flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "d4oXIHXlor7dkMSp",
          "name": "CG Google Gemini — dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst jobId = $('Build Prompt').first().json.job_id;\nconst assets = $('Build Prompt').first().json.assets || '[]';\n\nreturn [{ json: {\n  job_id: jobId,\n  generated_text: item.text || item.output || JSON.stringify(item),\n  assets\n} }];"
      },
      "id": "format-output",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "1n2fhaOCjoFbdjaeewvK4aHRos4wiTp_Y"
        },
        "options": {}
      },
      "id": "download-logo",
      "name": "Download Logo",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        992,
        0
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "js6W5HNGMgoA1GC0",
          "name": "n8n Google Drive"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst prevData = $('Format Output').first().json;\nconst text = prevData.generated_text || '';\nconst assetsRaw = prevData.assets || '[]';\n\n// Parse assets to find user image\nlet userImageUrl = '';\ntry {\n  const assets = typeof assetsRaw === 'string' ? JSON.parse(assetsRaw) : assetsRaw;\n  const img = assets.find(a => a.kind === 'image' && a.url);\n  if (img) userImageUrl = img.url;\n} catch(e) {}\n\n// Convert logo binary to base64\nlet logoDataUri = '';\nif (item.binary && item.binary.data) {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  const mimeType = item.binary.data.mimeType || 'image/png';\n  logoDataUri = `data:${mimeType};base64,${buf.toString('base64')}`;\n}\n\nconst esc = s => s.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n\nlet bodyHtml = esc(text)\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/^### (.*)$/gm, '<h3>$1</h3>')\n  .replace(/^## (.*)$/gm, '<h2>$1</h2>')\n  .replace(/^# (.*)$/gm, '<h1>$1</h1>')\n  .replace(/(#\\w+)/g, '<span class=\"cg-hashtag\">$1</span>')\n  .replace(/\\n{2,}/g, '</p><p>')\n  .replace(/\\n/g, '<br/>');\n\nbodyHtml = '<p>' + bodyHtml + '</p>';\nbodyHtml = bodyHtml.replace(/<p><\\/p>/g, '').replace(/<p>(<h[123]>)/g, '$1').replace(/(<\\/h[123]>)<\\/p>/g, '$1');\n\nconst logoImg = logoDataUri ? `<img class=\"cg-logo\" src=\"${logoDataUri}\" />` : '';\nconst userImg = userImageUrl ? `<div class=\"cg-user-image\"><img src=\"${esc(userImageUrl)}\" /></div>` : '';\n\nconst html = `<div class=\"cg-root cg-dark\"><div class=\"cg-post-layout\"><div class=\"cg-post-header\">${logoImg}<span class=\"cg-kicker\">Career Guide</span></div>${userImg}<div class=\"cg-post-body\">${bodyHtml}</div><div class=\"cg-rule\"></div></div></div>`;\n\nconst css = `@import url(\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\");:root{--cg-brand-primary:#4d96d9;--cg-brand-accent:#89c6eb;--cg-text-default:#1a1e32;--cg-text-muted:#667797;--cg-surface-page:#fcfcfe;--cg-matcher-cyan:#00acc1;--cg-matcher-purple:#8e44ad;--cg-matcher-pink:#d81b60}.cg-root.cg-dark{--cg-brand-primary:#8cb2e6;--cg-brand-accent:#a7dbff;--cg-text-default:#fbfbfd;--cg-text-muted:#a5afc8;--cg-surface-page:#161b2b;--cg-surface-card:#1e2439;--cg-border-default:#2f3b5c}*,*::before,*::after{box-sizing:border-box}html,body{margin:0;padding:0;width:100%;-webkit-font-smoothing:antialiased}body{font-family:\"Inter\",system-ui,sans-serif;font-size:18px;line-height:1.6;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-root{width:1200px;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-post-layout{width:100%;padding:56px 72px;display:flex;flex-direction:column;gap:24px}.cg-post-header{display:flex;align-items:center;gap:16px;margin-bottom:8px}.cg-logo{width:56px;height:auto}.cg-kicker{font-size:15px;font-weight:600;letter-spacing:0.1em;text-transform:uppercase;color:var(--cg-brand-primary)}.cg-user-image{width:100%;border-radius:16px;overflow:hidden;margin-bottom:8px}.cg-user-image img{width:100%;height:auto;display:block;border-radius:16px}.cg-post-body{font-size:20px;line-height:1.65;color:var(--cg-text-default)}.cg-post-body p{margin:0 0 16px}.cg-post-body strong{font-weight:700}.cg-post-body h1,.cg-post-body h2,.cg-post-body h3{margin:24px 0 12px;line-height:1.3}.cg-post-body h1{font-size:36px;font-weight:700}.cg-post-body h2{font-size:28px;font-weight:700}.cg-post-body h3{font-size:22px;font-weight:600}.cg-check{margin:4px 0;padding-left:4px}.cg-bullet{margin:4px 0;padding-left:16px}.cg-hashtag{color:var(--cg-brand-primary);font-weight:500}.cg-rule{height:4px;width:120px;border-radius:999px;background:linear-gradient(90deg,var(--cg-matcher-cyan),var(--cg-matcher-purple),var(--cg-matcher-pink));margin:16px 0 0}`;\n\nreturn [{ json: {\n  ...prevData,\n  image_html: html,\n  image_css: css\n} }];"
      },
      "id": "build-image-html",
      "name": "Build Image HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://hcti-render:3000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ html: $json.image_html, css: $json.image_css, width: 1200, height: 630, format: 'png', fullPage: true }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "render-image",
      "name": "Render Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const imgItem = $input.first();\nconst prevData = $('Build Image HTML').first().json;\n\nreturn [{ json: {\n  job_id: prevData.job_id,\n  generated_text: prevData.generated_text\n}, binary: imgItem.binary }];"
      },
      "id": "final-output",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Content": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 2.5 flash": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Content",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Download Logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Logo": {
      "main": [
        [
          {
            "node": "Build Image HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image HTML": {
      "main": [
        [
          {
            "node": "Render Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Image": {
      "main": [
        [
          {
            "node": "Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5d26b0c8-c01b-4ee3-b5b4-5a1a3f735128",
  "activeVersionId": "5d26b0c8-c01b-4ee3-b5b4-5a1a3f735128",
  "versionCounter": 77,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-07T15:21:29.719Z",
      "createdAt": "2026-04-07T15:21:29.719Z",
      "role": "workflow:owner",
      "workflowId": "z7FIfQqHzQGJW4ib",
      "projectId": "PXHJPWu3tFvLsdCG",
      "project": {
        "updatedAt": "2026-04-06T12:34:09.192Z",
        "createdAt": "2026-04-06T08:30:03.839Z",
        "id": "PXHJPWu3tFvLsdCG",
        "name": "Career Guide <admin@careerguide.pl>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T09:46:21.000Z",
    "createdAt": "2026-04-10T09:46:11.262Z",
    "versionId": "5d26b0c8-c01b-4ee3-b5b4-5a1a3f735128",
    "workflowId": "z7FIfQqHzQGJW4ib",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\n\nconst channels = Array.isArray(item.channels) ? item.channels.join(', ') : (item.channels || 'linkedin');\nconst contentType = item.content_type || 'post';\nconst feedback = item.revision_feedback || '';\nconst assets = item.assets || '[]';\n\nlet userPrompt = `Przygotuj ${contentType} na kanaly: ${channels}.\n\nMaterial zrodlowy:\n${item.raw_text}`;\n\nif (feedback) {\n  userPrompt += `\\n\\nPoprawki od uzytkownika (zastosuj je):\\n${feedback}`;\n}\n\nconst systemPrompt = `Jestes doswiadczonym copywriterem marketingowym. Tworzysz angazujace tresci na social media.\n\nNAJWAZNIEJSZA ZASADA: ZAWSZE generuj gotowa tresc posta. NIGDY nie pytaj o dodatkowe informacje, nie pros o doprecyzowanie, nie zadawaj pytan. Pracuj z tym co dostales - nawet jesli material zrodlowy jest krotki lub ogolny, stworz z niego najlepszy mozliwy post.\n\nZasady:\n- Pisz po polsku, chyba ze uzytkownik wskaze inaczej\n- Dostosuj ton i dlugosc do kanalu (LinkedIn = profesjonalny, max 3000 znakow; Facebook = luzniejszy; Instagram = krotki + hashtagi)\n- Dodaj odpowiednie emoji i hashtagi jesli pasuja do kanalu\n- Podaj TYLKO gotowa tresc posta - bez meta-komentarzy, bez \"oto post\", bez wyjasnien\n- Jesli jest kilka kanalow, przygotuj osobna wersje dla kazdego, oddzielona naglowkiem kanalu`;\n\nreturn [{ json: { systemPrompt, userPrompt, job_id: item.job_id, assets } }];"
        },
        "id": "build-prompt",
        "name": "Build Prompt",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          0
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.userPrompt }}",
          "messages": {
            "messageValues": [
              {
                "message": "={{ $json.systemPrompt }}"
              }
            ]
          },
          "batching": {}
        },
        "id": "llm-chain",
        "name": "Generate Content",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          448,
          0
        ]
      },
      {
        "parameters": {
          "modelName": "models/gemini-3.1-flash-lite-preview",
          "options": {}
        },
        "id": "gemini",
        "name": "Gemini 2.5 flash",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          448,
          208
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "d4oXIHXlor7dkMSp",
            "name": "CG Google Gemini — dev"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first().json;\nconst jobId = $('Build Prompt').first().json.job_id;\nconst assets = $('Build Prompt').first().json.assets || '[]';\n\nreturn [{ json: {\n  job_id: jobId,\n  generated_text: item.text || item.output || JSON.stringify(item),\n  assets\n} }];"
        },
        "id": "format-output",
        "name": "Format Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          768,
          0
        ]
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "mode": "id",
            "value": "1n2fhaOCjoFbdjaeewvK4aHRos4wiTp_Y"
          },
          "options": {}
        },
        "id": "download-logo",
        "name": "Download Logo",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          992,
          0
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "js6W5HNGMgoA1GC0",
            "name": "n8n Google Drive"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $input.first();\nconst prevData = $('Format Output').first().json;\nconst text = prevData.generated_text || '';\nconst assetsRaw = prevData.assets || '[]';\n\n// Parse assets to find user image\nlet userImageUrl = '';\ntry {\n  const assets = typeof assetsRaw === 'string' ? JSON.parse(assetsRaw) : assetsRaw;\n  const img = assets.find(a => a.kind === 'image' && a.url);\n  if (img) userImageUrl = img.url;\n} catch(e) {}\n\n// Convert logo binary to base64\nlet logoDataUri = '';\nif (item.binary && item.binary.data) {\n  const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n  const mimeType = item.binary.data.mimeType || 'image/png';\n  logoDataUri = `data:${mimeType};base64,${buf.toString('base64')}`;\n}\n\nconst esc = s => s.replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;');\n\nlet bodyHtml = esc(text)\n  .replace(/\\*\\*(.*?)\\*\\*/g, '<strong>$1</strong>')\n  .replace(/^### (.*)$/gm, '<h3>$1</h3>')\n  .replace(/^## (.*)$/gm, '<h2>$1</h2>')\n  .replace(/^# (.*)$/gm, '<h1>$1</h1>')\n  .replace(/(#\\w+)/g, '<span class=\"cg-hashtag\">$1</span>')\n  .replace(/\\n{2,}/g, '</p><p>')\n  .replace(/\\n/g, '<br/>');\n\nbodyHtml = '<p>' + bodyHtml + '</p>';\nbodyHtml = bodyHtml.replace(/<p><\\/p>/g, '').replace(/<p>(<h[123]>)/g, '$1').replace(/(<\\/h[123]>)<\\/p>/g, '$1');\n\nconst logoImg = logoDataUri ? `<img class=\"cg-logo\" src=\"${logoDataUri}\" />` : '';\nconst userImg = userImageUrl ? `<div class=\"cg-user-image\"><img src=\"${esc(userImageUrl)}\" /></div>` : '';\n\nconst html = `<div class=\"cg-root cg-dark\"><div class=\"cg-post-layout\"><div class=\"cg-post-header\">${logoImg}<span class=\"cg-kicker\">Career Guide</span></div>${userImg}<div class=\"cg-post-body\">${bodyHtml}</div><div class=\"cg-rule\"></div></div></div>`;\n\nconst css = `@import url(\"https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap\");:root{--cg-brand-primary:#4d96d9;--cg-brand-accent:#89c6eb;--cg-text-default:#1a1e32;--cg-text-muted:#667797;--cg-surface-page:#fcfcfe;--cg-matcher-cyan:#00acc1;--cg-matcher-purple:#8e44ad;--cg-matcher-pink:#d81b60}.cg-root.cg-dark{--cg-brand-primary:#8cb2e6;--cg-brand-accent:#a7dbff;--cg-text-default:#fbfbfd;--cg-text-muted:#a5afc8;--cg-surface-page:#161b2b;--cg-surface-card:#1e2439;--cg-border-default:#2f3b5c}*,*::before,*::after{box-sizing:border-box}html,body{margin:0;padding:0;width:100%;-webkit-font-smoothing:antialiased}body{font-family:\"Inter\",system-ui,sans-serif;font-size:18px;line-height:1.6;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-root{width:1200px;color:var(--cg-text-default);background:var(--cg-surface-page)}.cg-post-layout{width:100%;padding:56px 72px;display:flex;flex-direction:column;gap:24px}.cg-post-header{display:flex;align-items:center;gap:16px;margin-bottom:8px}.cg-logo{width:56px;height:auto}.cg-kicker{font-size:15px;font-weight:600;letter-spacing:0.1em;text-transform:uppercase;color:var(--cg-brand-primary)}.cg-user-image{width:100%;border-radius:16px;overflow:hidden;margin-bottom:8px}.cg-user-image img{width:100%;height:auto;display:block;border-radius:16px}.cg-post-body{font-size:20px;line-height:1.65;color:var(--cg-text-default)}.cg-post-body p{margin:0 0 16px}.cg-post-body strong{font-weight:700}.cg-post-body h1,.cg-post-body h2,.cg-post-body h3{margin:24px 0 12px;line-height:1.3}.cg-post-body h1{font-size:36px;font-weight:700}.cg-post-body h2{font-size:28px;font-weight:700}.cg-post-body h3{font-size:22px;font-weight:600}.cg-check{margin:4px 0;padding-left:4px}.cg-bullet{margin:4px 0;padding-left:16px}.cg-hashtag{color:var(--cg-brand-primary);font-weight:500}.cg-rule{height:4px;width:120px;border-radius:999px;background:linear-gradient(90deg,var(--cg-matcher-cyan),var(--cg-matcher-purple),var(--cg-matcher-pink));margin:16px 0 0}`;\n\nreturn [{ json: {\n  ...prevData,\n  image_html: html,\n  image_css: css\n} }];"
        },
        "id": "build-image-html",
        "name": "Build Image HTML",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1216,
          0
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "http://hcti-render:3000/render",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({ html: $json.image_html, css: $json.image_css, width: 1200, height: 630, format: 'png', fullPage: true }) }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "id": "render-image",
        "name": "Render Image",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1440,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const imgItem = $input.first();\nconst prevData = $('Build Image HTML').first().json;\n\nreturn [{ json: {\n  job_id: prevData.job_id,\n  generated_text: prevData.generated_text\n}, binary: imgItem.binary }];"
        },
        "id": "final-output",
        "name": "Final Output",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1664,
          0
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Build Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Prompt": {
        "main": [
          [
            {
              "node": "Generate Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate Content": {
        "main": [
          [
            {
              "node": "Format Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 2.5 flash": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Content",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Format Output": {
        "main": [
          [
            {
              "node": "Download Logo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Logo": {
        "main": [
          [
            {
              "node": "Build Image HTML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Image HTML": {
        "main": [
          [
            {
              "node": "Render Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Render Image": {
        "main": [
          [
            {
              "node": "Final Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Career Guide",
    "name": "Version 5d26b0c8",
    "description": "",
    "autosaved": true,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T09:46:21.688Z",
        "id": 107,
        "workflowId": "z7FIfQqHzQGJW4ib",
        "versionId": "5d26b0c8-c01b-4ee3-b5b4-5a1a3f735128",
        "event": "activated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    ]
  }
}