workflows/ingest/cg-ingest-discord.json
{
  "updatedAt": "2026-04-10T11:17:06.773Z",
  "createdAt": "2026-04-06T16:54:48.448Z",
  "id": "MvyZHtercUEd3cVb",
  "name": "cg-ingest-discord",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "tableName": "config",
        "searchColumn": "key",
        "searchTerm": "discord_last_message_id",
        "options": {}
      },
      "id": "get-config",
      "name": "Get Last Message ID",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "mode": "id",
          "value": "1452941431802040332"
        },
        "channelId": {
          "__rl": true,
          "value": "1490792473440813199",
          "mode": "id"
        },
        "limit": 50,
        "options": {}
      },
      "id": "discord-get-many",
      "name": "Discord Get Messages",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "webhookId": "5b0213d5-fabe-41ba-86c7-d26121044a22",
      "credentials": {
        "discordBotApi": {
          "id": "b4truRzbrjj3C93v",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const configItems = $('Get Last Message ID').all();\nconst lastId = configItems.length > 0 ? configItems[0].json.value : '0';\nconst messages = $('Discord Get Messages').all();\n\nconst newer = messages.filter((msg) => {\n  return BigInt(msg.json.id) > BigInt(lastId) && !msg.json.author?.bot;\n});\n\nif (newer.length === 0) return [];\n\nnewer.sort((a, b) => Number(BigInt(a.json.id) - BigInt(b.json.id)));\nconst maxCursor = newer[newer.length - 1].json.id;\nconst toIngest = newer.filter((msg) => !msg.json.message_reference);\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = (Math.random() * 16) | 0;\n    return (c === 'x' ? r : (r & 0x3) | 0x8).toString(16);\n  });\n}\n\nfunction parsePublishAt(text) {\n  const t = String(text || '');\n  const iso = t.match(/\\b(\\d{4})-(\\d{2})-(\\d{2})(?:[T ]\\d{1,2}:\\d{2})?\\b/);\n  if (iso) return iso[1] + '-' + iso[2] + '-' + iso[3];\n  const pl = t.match(/publikacja\\s*:\\s*(\\d{1,2})[.](\\d{1,2})[.](\\d{4})/i);\n  if (pl) {\n    const d = pl[1].padStart(2, '0'), mo = pl[2].padStart(2, '0');\n    return pl[3] + '-' + mo + '-' + d;\n  }\n  const pl2 = t.match(/\\b(\\d{1,2})[.](\\d{1,2})[.](\\d{4})\\b/);\n  if (pl2) {\n    const d = pl2[1].padStart(2, '0'), mo = pl2[2].padStart(2, '0');\n    return pl2[3] + '-' + mo + '-' + d;\n  }\n  return '';\n}\n\nfunction parseSlideTheme(text) {\n  const t = String(text || '').toLowerCase();\n  const hasLight = /motyw\\s*jasny|jasny\\s*motyw|motyw\\s*:\\s*jasny|theme\\s*light|light\\s*theme|motyw\\s*(biały|bialy)|(biały|bialy)\\s*motyw/.test(t);\n  const hasDark = /motyw\\s*ciemny|ciemny\\s*motyw|motyw\\s*:\\s*ciemny|theme\\s*dark|dark\\s*theme/.test(t);\n  if (hasLight && hasDark) return '';\n  if (hasLight) return 'light';\n  if (hasDark) return 'dark';\n  return '';\n}\n\nif (toIngest.length === 0) {\n  return [{ json: { cursor_only: true, _cursor_max_id: maxCursor } }];\n}\n\nreturn toIngest.map((msg) => {\n  const attachments = (msg.json.attachments || []).map((a) => ({\n    kind: a.content_type?.startsWith('image') ? 'image' : a.content_type?.startsWith('video') ? 'video' : 'file',\n    url: a.url,\n    filename: a.filename,\n    content_type: a.content_type || '',\n    drive_file_id: null,\n  }));\n  const first = attachments[0] || null;\n  const content = msg.json.content || '';\n  return {\n    json: {\n      job_id: uuid(),\n      discord_msg_id: msg.json.id,\n      source: 'discord',\n      content_type: 'post',\n      raw_text: content,\n      author: msg.json.author?.username || 'unknown',\n      assets: JSON.stringify(attachments),\n      approval_status: 'pending',\n      status: 'ingested',\n      created_at: msg.json.timestamp,\n      channels: JSON.stringify(['linkedin', 'facebook', 'instagram']),\n      publish_at: parsePublishAt(content),\n      slide_theme: parseSlideTheme(content),\n      _cursor_max_id: maxCursor,\n      _attachment_url: first ? first.url : '',\n      _attachment_filename: first ? first.filename : '',\n    },\n  };\n});"
      },
      "id": "filter-new",
      "name": "Filter New Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cursor-only-branch",
              "leftValue": "={{ $json.cursor_only }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-cursor-only",
      "name": "IF Cursor Only (skip job)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        816,
        0
      ]
    },
    {
      "parameters": {
        "tableName": "jobs",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "job_id",
              "columnValue": "={{ $json.job_id }}"
            },
            {
              "columnName": "discord_msg_id",
              "columnValue": "={{ $json.discord_msg_id }}"
            },
            {
              "columnName": "source",
              "columnValue": "={{ $json.source }}"
            },
            {
              "columnName": "content_type",
              "columnValue": "={{ $json.content_type }}"
            },
            {
              "columnName": "raw_text",
              "columnValue": "={{ $json.raw_text }}"
            },
            {
              "columnName": "author",
              "columnValue": "={{ $json.author }}"
            },
            {
              "columnName": "assets",
              "columnValue": "={{ $json.assets }}"
            },
            {
              "columnName": "channels",
              "columnValue": "={{ $json.channels }}"
            },
            {
              "columnName": "publish_at",
              "columnValue": "={{ $json.publish_at }}"
            },
            {
              "columnName": "slide_theme",
              "columnValue": "={{ $json.slide_theme }}"
            },
            {
              "columnName": "approval_status",
              "columnValue": "={{ $json.approval_status }}"
            },
            {
              "columnName": "status",
              "columnValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "id": "create-job",
      "name": "SeaTable Create Job",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        992,
        128
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableName": "config",
        "rowId": "={{ $('Get Last Message ID').first().json._id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "value",
              "columnValue": "={{ $('Filter New Messages').first().json._cursor_max_id }}"
            }
          ]
        }
      },
      "id": "update-config",
      "name": "Update Last Message ID",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        1152,
        -16
      ],
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      }
    },
    {
      "id": "if-has-attachment",
      "name": "IF Has Attachment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1152,
        128
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $('Filter New Messages').item.json._attachment_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "download-attachment",
      "name": "Download Attachment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1344,
        64
      ],
      "parameters": {
        "url": "={{ $('Filter New Messages').item.json._attachment_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      }
    },
    {
      "id": "upload-to-drive",
      "name": "Upload to Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1536,
        64
      ],
      "parameters": {
        "operation": "upload",
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1NsI1Cjg4sDIAijYEXfygshA7p3kqfpv9"
        },
        "name": "={{ $('Filter New Messages').item.json.job_id + '_' + $('Filter New Messages').item.json._attachment_filename }}",
        "options": {}
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "js6W5HNGMgoA1GC0",
          "name": "n8n Google Drive"
        }
      }
    },
    {
      "id": "update-job-assets",
      "name": "Update Job Assets",
      "type": "n8n-nodes-base.seaTable",
      "typeVersion": 2,
      "position": [
        1728,
        64
      ],
      "parameters": {
        "operation": "update",
        "tableName": "jobs",
        "rowId": "={{ $('SeaTable Create Job').item.json._id }}",
        "columnsUi": {
          "columnValues": [
            {
              "columnName": "assets",
              "columnValue": "={{ JSON.stringify([{ kind: $('Filter New Messages').item.json._attachment_filename.match(/\\.(jpg|jpeg|png|gif|webp)$/i) ? 'image' : 'file', url: $('Filter New Messages').item.json._attachment_url, filename: $('Filter New Messages').item.json._attachment_filename, drive_file_id: $json.id }]) }}"
            }
          ]
        }
      },
      "credentials": {
        "seaTableApi": {
          "id": "hW2f85Vn1TyCow3D",
          "name": "CG Marketing Agent"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Last Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Message ID": {
      "main": [
        [
          {
            "node": "Discord Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discord Get Messages": {
      "main": [
        [
          {
            "node": "Filter New Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Messages": {
      "main": [
        [
          {
            "node": "IF Cursor Only (skip job)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Cursor Only (skip job)": {
      "main": [
        [
          {
            "node": "Update Last Message ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SeaTable Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SeaTable Create Job": {
      "main": [
        [
          {
            "node": "IF Has Attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Attachment": {
      "main": [
        [
          {
            "node": "Download Attachment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Last Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Attachment": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Update Job Assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Job Assets": {
      "main": [
        [
          {
            "node": "Update Last Message ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "binaryMode": "separate"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f17dda4-092d-449f-993f-956a54190d72",
  "activeVersionId": "2f17dda4-092d-449f-993f-956a54190d72",
  "versionCounter": 53,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-06T16:54:48.451Z",
      "createdAt": "2026-04-06T16:54:48.451Z",
      "role": "workflow:owner",
      "workflowId": "MvyZHtercUEd3cVb",
      "projectId": "PXHJPWu3tFvLsdCG",
      "project": {
        "updatedAt": "2026-04-06T12:34:09.192Z",
        "createdAt": "2026-04-06T08:30:03.839Z",
        "id": "PXHJPWu3tFvLsdCG",
        "name": "Career Guide <admin@careerguide.pl>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-10T11:17:06.774Z",
    "createdAt": "2026-04-10T11:17:06.774Z",
    "versionId": "2f17dda4-092d-449f-993f-956a54190d72",
    "workflowId": "MvyZHtercUEd3cVb",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 2
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "tableName": "config",
          "searchColumn": "key",
          "searchTerm": "discord_last_message_id",
          "options": {}
        },
        "id": "get-config",
        "name": "Get Last Message ID",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          224,
          0
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        }
      },
      {
        "parameters": {
          "resource": "message",
          "operation": "getAll",
          "guildId": {
            "mode": "id",
            "value": "1452941431802040332"
          },
          "channelId": {
            "__rl": true,
            "value": "1490792473440813199",
            "mode": "id"
          },
          "limit": 50,
          "options": {}
        },
        "id": "discord-get-many",
        "name": "Discord Get Messages",
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "webhookId": "5b0213d5-fabe-41ba-86c7-d26121044a22",
        "credentials": {
          "discordBotApi": {
            "id": "b4truRzbrjj3C93v",
            "name": "Discord Bot account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const configItems = $('Get Last Message ID').all();\nconst lastId = configItems.length > 0 ? configItems[0].json.value : '0';\nconst messages = $('Discord Get Messages').all();\n\nconst newer = messages.filter((msg) => {\n  return BigInt(msg.json.id) > BigInt(lastId) && !msg.json.author?.bot;\n});\n\nif (newer.length === 0) return [];\n\nnewer.sort((a, b) => Number(BigInt(a.json.id) - BigInt(b.json.id)));\nconst maxCursor = newer[newer.length - 1].json.id;\nconst toIngest = newer.filter((msg) => !msg.json.message_reference);\n\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, (c) => {\n    const r = (Math.random() * 16) | 0;\n    return (c === 'x' ? r : (r & 0x3) | 0x8).toString(16);\n  });\n}\n\nfunction parsePublishAt(text) {\n  const t = String(text || '');\n  const iso = t.match(/\\b(\\d{4})-(\\d{2})-(\\d{2})(?:[T ]\\d{1,2}:\\d{2})?\\b/);\n  if (iso) return iso[1] + '-' + iso[2] + '-' + iso[3];\n  const pl = t.match(/publikacja\\s*:\\s*(\\d{1,2})[.](\\d{1,2})[.](\\d{4})/i);\n  if (pl) {\n    const d = pl[1].padStart(2, '0'), mo = pl[2].padStart(2, '0');\n    return pl[3] + '-' + mo + '-' + d;\n  }\n  const pl2 = t.match(/\\b(\\d{1,2})[.](\\d{1,2})[.](\\d{4})\\b/);\n  if (pl2) {\n    const d = pl2[1].padStart(2, '0'), mo = pl2[2].padStart(2, '0');\n    return pl2[3] + '-' + mo + '-' + d;\n  }\n  return '';\n}\n\nfunction parseSlideTheme(text) {\n  const t = String(text || '').toLowerCase();\n  const hasLight = /motyw\\s*jasny|jasny\\s*motyw|motyw\\s*:\\s*jasny|theme\\s*light|light\\s*theme|motyw\\s*(biały|bialy)|(biały|bialy)\\s*motyw/.test(t);\n  const hasDark = /motyw\\s*ciemny|ciemny\\s*motyw|motyw\\s*:\\s*ciemny|theme\\s*dark|dark\\s*theme/.test(t);\n  if (hasLight && hasDark) return '';\n  if (hasLight) return 'light';\n  if (hasDark) return 'dark';\n  return '';\n}\n\nif (toIngest.length === 0) {\n  return [{ json: { cursor_only: true, _cursor_max_id: maxCursor } }];\n}\n\nreturn toIngest.map((msg) => {\n  const attachments = (msg.json.attachments || []).map((a) => ({\n    kind: a.content_type?.startsWith('image') ? 'image' : a.content_type?.startsWith('video') ? 'video' : 'file',\n    url: a.url,\n    filename: a.filename,\n    content_type: a.content_type || '',\n    drive_file_id: null,\n  }));\n  const first = attachments[0] || null;\n  const content = msg.json.content || '';\n  return {\n    json: {\n      job_id: uuid(),\n      discord_msg_id: msg.json.id,\n      source: 'discord',\n      content_type: 'post',\n      raw_text: content,\n      author: msg.json.author?.username || 'unknown',\n      assets: JSON.stringify(attachments),\n      approval_status: 'pending',\n      status: 'ingested',\n      created_at: msg.json.timestamp,\n      channels: JSON.stringify(['linkedin', 'facebook', 'instagram']),\n      publish_at: parsePublishAt(content),\n      slide_theme: parseSlideTheme(content),\n      _cursor_max_id: maxCursor,\n      _attachment_url: first ? first.url : '',\n      _attachment_filename: first ? first.filename : '',\n    },\n  };\n});"
        },
        "id": "filter-new",
        "name": "Filter New Messages",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          640,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "cursor-only-branch",
                "leftValue": "={{ $json.cursor_only }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "if-cursor-only",
        "name": "IF Cursor Only (skip job)",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          816,
          0
        ]
      },
      {
        "parameters": {
          "tableName": "jobs",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "job_id",
                "columnValue": "={{ $json.job_id }}"
              },
              {
                "columnName": "discord_msg_id",
                "columnValue": "={{ $json.discord_msg_id }}"
              },
              {
                "columnName": "source",
                "columnValue": "={{ $json.source }}"
              },
              {
                "columnName": "content_type",
                "columnValue": "={{ $json.content_type }}"
              },
              {
                "columnName": "raw_text",
                "columnValue": "={{ $json.raw_text }}"
              },
              {
                "columnName": "author",
                "columnValue": "={{ $json.author }}"
              },
              {
                "columnName": "assets",
                "columnValue": "={{ $json.assets }}"
              },
              {
                "columnName": "channels",
                "columnValue": "={{ $json.channels }}"
              },
              {
                "columnName": "publish_at",
                "columnValue": "={{ $json.publish_at }}"
              },
              {
                "columnName": "slide_theme",
                "columnValue": "={{ $json.slide_theme }}"
              },
              {
                "columnName": "approval_status",
                "columnValue": "={{ $json.approval_status }}"
              },
              {
                "columnName": "status",
                "columnValue": "={{ $json.status }}"
              }
            ]
          }
        },
        "id": "create-job",
        "name": "SeaTable Create Job",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          992,
          128
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "tableName": "config",
          "rowId": "={{ $('Get Last Message ID').first().json._id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "value",
                "columnValue": "={{ $('Filter New Messages').first().json._cursor_max_id }}"
              }
            ]
          }
        },
        "id": "update-config",
        "name": "Update Last Message ID",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          1152,
          -16
        ],
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        }
      },
      {
        "id": "if-has-attachment",
        "name": "IF Has Attachment",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1152,
          128
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $('Filter New Messages').item.json._attachment_url }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        }
      },
      {
        "id": "download-attachment",
        "name": "Download Attachment",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1344,
          64
        ],
        "parameters": {
          "url": "={{ $('Filter New Messages').item.json._attachment_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        }
      },
      {
        "id": "upload-to-drive",
        "name": "Upload to Drive",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          1536,
          64
        ],
        "parameters": {
          "operation": "upload",
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1NsI1Cjg4sDIAijYEXfygshA7p3kqfpv9"
          },
          "name": "={{ $('Filter New Messages').item.json.job_id + '_' + $('Filter New Messages').item.json._attachment_filename }}",
          "options": {}
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "js6W5HNGMgoA1GC0",
            "name": "n8n Google Drive"
          }
        }
      },
      {
        "id": "update-job-assets",
        "name": "Update Job Assets",
        "type": "n8n-nodes-base.seaTable",
        "typeVersion": 2,
        "position": [
          1728,
          64
        ],
        "parameters": {
          "operation": "update",
          "tableName": "jobs",
          "rowId": "={{ $('SeaTable Create Job').item.json._id }}",
          "columnsUi": {
            "columnValues": [
              {
                "columnName": "assets",
                "columnValue": "={{ JSON.stringify([{ kind: $('Filter New Messages').item.json._attachment_filename.match(/\\.(jpg|jpeg|png|gif|webp)$/i) ? 'image' : 'file', url: $('Filter New Messages').item.json._attachment_url, filename: $('Filter New Messages').item.json._attachment_filename, drive_file_id: $json.id }]) }}"
              }
            ]
          }
        },
        "credentials": {
          "seaTableApi": {
            "id": "hW2f85Vn1TyCow3D",
            "name": "CG Marketing Agent"
          }
        }
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Last Message ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Last Message ID": {
        "main": [
          [
            {
              "node": "Discord Get Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Discord Get Messages": {
        "main": [
          [
            {
              "node": "Filter New Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter New Messages": {
        "main": [
          [
            {
              "node": "IF Cursor Only (skip job)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Cursor Only (skip job)": {
        "main": [
          [
            {
              "node": "Update Last Message ID",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SeaTable Create Job",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SeaTable Create Job": {
        "main": [
          [
            {
              "node": "IF Has Attachment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Has Attachment": {
        "main": [
          [
            {
              "node": "Download Attachment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Update Last Message ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Attachment": {
        "main": [
          [
            {
              "node": "Upload to Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to Drive": {
        "main": [
          [
            {
              "node": "Update Job Assets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Job Assets": {
        "main": [
          [
            {
              "node": "Update Last Message ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Career Guide",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-10T11:17:06.848Z",
        "id": 113,
        "workflowId": "MvyZHtercUEd3cVb",
        "versionId": "2f17dda4-092d-449f-993f-956a54190d72",
        "event": "activated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      },
      {
        "createdAt": "2026-04-10T11:17:06.812Z",
        "id": 112,
        "workflowId": "MvyZHtercUEd3cVb",
        "versionId": "2f17dda4-092d-449f-993f-956a54190d72",
        "event": "deactivated",
        "userId": "e4b48a77-42a5-4875-af4d-6bfa8dc95627"
      }
    ]
  }
}